﻿@{
    ViewBag.Title = "Home Page";
}

<div id="aplicattion" ng-app="myApp">
    <div>
        <h3 class="badge">Administracion</h3>
        <div class="panel">            
            <div ng-controller="timer"> Tiempo Activo:  {{contador}}</div>
        </div>
    </div> 
    <div class="panel" ng-view> </div>           
</div>


@section scripts {

    @Scripts.Render("~/Scripts/app/app.js")
}