﻿
    <div>
       <button class="btn-danger" ng-click="confirmar()"> ¿Estas seguro que deseas borrar el Usuario?</button>
    </div>
    <hr/>
    <div class="alert-success" ng-if="dataok == true">
        Usuario Borrado con Exito
    </div>
    
