<div class="col-md-4">
    <h3 class="badge"> Editar</h3>
    <div>
        Nombre: <input class="form-control" type="text" ng-model="userdata.Name" />
        Password: <input class="form-control" type="password" ng-model="userdata.Password" />
        <hr />
        <div ng-if="passok == false">
            <a class="alert-warning"> {{mss}} </a>
            <hr />
        </div>        
        <button class="btn-default" type="button" ng-click="update()">Actualizar</button>
        <button class="btn-primary" type="button" ng-click="volver()">Volver</button>
    </div>
</div>