<div class="col-md-12">
    <h3 class="badge"> Crear Usuario</h3>
    <div>
        <button class="btn-success" ng-click="nuevo()"> Nuevo Usuario</button>
    </div>
    
</div>

<div class="col-md-4">
    <h3 class="badge"> Listado de Usuarios</h3>
    <div>
        <div ng-controller="listController">
            <div ng-if="dataok == true">
                <div ng-repeat="empleado in Empleados ">
                    <div class="col-md-6">
                        {{empleado.Name}}
                    </div>
                    <div class="col-md-3">
                        <button class="btn-primary" ng-click="editar(empleado.ID)"> Editar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn-danger" ng-click="borrar(empleado.ID)"> Borrar</button>
                    </div>
                </div>
            </div>
            <div ng-if="dataok == false">
                <a class="alert-danger"> {{mss}}</a>
            </div>
        </div>
    </div>
</div>
