<div class="col-md-4">
    <div>
        <h3 class="badge"> Registro</h3>
        <div>
            Nombre: <input class="form-control" type="text" ng-model="name" />
            Password: <input class="form-control" type="password" ng-model="password" />
            <hr />
            <div ng-if="passok == false">
                <a class="alert-warning"> {{mss}} </a>
                <hr />
            </div>
            
            <button class="btn-success" type="button" ng-click="crear()">Crear</button>
            <button class="btn-primary" type="button" ng-click="volver()">Volver</button>
        </div>
      
     </div>
</div>